.bull{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    font-size: 30px;
    font-family: 'Comic sans ms';
    width: 100%;
    padding: 0px 40px;
    text-align: center;
}

.image{
    width: 250px;
    height: 250px;
}

.i1{
    background: url('../assets/bullet1.jpg') no-repeat center;
    background-size: cover;
}

.i2{
    background: url('../assets/bullet2.jpg') no-repeat center;
    background-size: cover;
}

.i3{
    background: url('../assets/bullet3.jpg') no-repeat center;
    background-size: cover;
}
.i4{
    background: url('../assets/bullet4.jpg') no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 600px){
    .bull{
        overflow: hidden;
    }
    .content{
        width: 100%;
        text-align: center;
        padding: 0px 20px;
    }
}