.foot{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 114, 114);
    color: cornsilk;

}

.foot-cont{
    display: flex;
    justify-content: space-around;
}

.cont{
    display: inline-block;
}

.cont2{
    list-style: none;
    font-size: 25px;
    margin: 5px ;
}

.footer{
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width: 600px){
    .foot-cont{
        flex-direction: column;
    }
}
