.center-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 45, 45);
    color: cornsilk
}

#login-form {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(26, 28, 28, 0.905);

}

.logo {
    position: fixed;
    top: 20px;
    left: 20px;
}

.log-but {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: cornsilk 3px solid;
    background-color: transparent;
    color:cornsilk;
    font-weight: bold;
    position: fixed;
    right: 20px;
    top: 20px;
}

.log-butt {
    margin-top: 30px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    border: cornsilk 3px solid;
    background-color: transparent;
    color: cornsilk;
    font-weight: bold;
}

.log-butt:hover {
    background-color: cornsilk;
    color: rgb(80, 75, 75);
}

.log-header {
    margin: 20px;
    color: cornsilk;
    display: flex;
    flex-direction: column;
}

.log-foot {
    position: fixed;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
}


.log-form-arrange {
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-input {
    margin-top: 10px;
    width: 150px;
    text-align: center;
    background-color: transparent;
    border: transparent 2px solid;
    border-bottom:rgb(172, 168, 151) 2px solid;
    transition: all ease 0.8s;
    color: cornsilk;
}

.log-input:focus {
    outline: none;
    width: 160px;
}

::placeholder {
    color: rgb(172, 168, 151);
}

